{% extends "_base.html" %}

{% block main %}

<form method="post" action="/changePassword">
    <h3>Change password</h3>
    {% if error != null %}
    <div class="form-group">
        <p id="error" class="text-danger">{{ error }}</p>
    </div>
    {% endif %}

    <div class="form-group">
        <label>OldPassword</label>
        <input name="OldPassword" type="password" class="form-control" placeholder="OldPassword">
    </div>
    <div class="form-group">
        <label>NewPassword</label>
        <input name="NewPassword" type="password" class="form-control" placeholder="NewPassword" minlength="6" maxlength="20">
    </div>
    <div class="form-group">
        <label>RepeatNewPassword</label>
        <input name="RepeatNewPassword" type="password" class="form-control" placeholder="RepeatNewPassword" minlength="6" maxlength="20">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</form>

{% endblock %}
